
.formStyel{
    width: 80%;
    min-height: 600px;
    background-color: gold;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*  header */
.headerStyle{
    display: block;
    padding: 10px;
    background-color: inherit;
    min-height: 40%;
    text-align: center;
}
.itemsStyle{
    display: flex;
    justify-content: space-around;
}

/*  list style */
.ListStyle{
    display: block;
    background-color: brown;
    padding: 15px;
    border-radius: 10px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*  input style  */
.inputStyle{
    display: block;
    padding: 10px 0;
    
}
.inputStyle form{
    display: flex;
    justify-content: space-between;
}
.input{
    width: 72%;
    border: 0;
    border-radius: 5px;
    font-size: 22px;
    padding: 5px 10px;
    outline: none;
}
.btn{
    padding: 15px 10px;
    width: 20%;
    background-color: green;
    font-size: 18px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    outline: none;
}

/*  Item Style */
.TodoStyle{
    display: flex;
    justify-content: space-between;
    background-color: inherit;
}
.TodoStyle input{
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    width: 100%;
    border: 0;
    height: 100%;
    background-color: #fff;
    outline:none;   
}
.TodoStyle button{
    height: 40px;
    margin-top: 5px;
    width: 100px;
    border-radius: 5px;
    border: 0;
    background-color: green;
    color: #fff;
    margin-left: 10px;
}
